.top_header_icon{
    background-color: #ddd;
    padding: 9px 13px;
    border-radius: 50%;
}
.top_header_social_icon{
    background-color: #ddd;
    border-radius: 50%;
}
.navbar_items{
  position: relative;
    padding: 3px;
    border: 1px solid transparent;
    cursor: pointer;
}
.navbar_items-link{
  display: none;
  width: 250px;
  position: absolute;
  z-index: 9999;
  list-style: none;
  left: -17px;
  margin-top: 10px;
  background: #fff;
  cursor: pointer;
  /* border: 1px solid #ddd; */
  line-height: 2.5rem;
  padding: 0;
}
.navbar_items-link a{
  padding-left: 5px;

}
.navbar_items-link a:hover{
  display: block;
  background-color: #000;
  color: #ddd;
}

.navbar_items:hover{
    border: 1px solid #ddd;
}

  @media(min-width: 900px){
    .nav_mobile{
      display: none;
    }
    .top_desktop_view{
        display: block;
    }
    .custom_prev{
      width: 2% !important;
    }
    .custom_next{
      width: 3.4% !important;
    }
  }
  @media(max-width: 900px){
    .nav_desktop{
      display: none;
    }
    .top_desktop_view{
        display: none;
    }
  }
  @media(max-width: 576px){
    .nav_mobile_view{
      width: initial;
    }
    .top_desktop_view{
        display: none;
    }
    .custom_prev span{
      padding: 15px 16px !important;
    font-size: 20px !important;
    }
    .custom_next span{
      padding: 15px 16px !important;
    font-size: 20px !important;
    }
    .column-left-mobile{
      height: 100%;
      display: flex;
      justify-content: right;
      align-items: center;
    }
  }

  .custom_prev{
    opacity: 1 !important;
  }
  .custom_prev span{
    background: #00000059;
    width: 50px;
    font-size: 1.5em;
    color: #ddd;
    padding: 10px 20px
  }
  .custom_next{
    opacity: 1 !important;
  }
  .custom_next span{
    background: #00000059;
    width: 50px;
    font-size: 1.5em;
    color: #ddd;
    padding: 10px 20px
  }

  .carousel-image{
    max-height: 580px;
  }